name: Firebase Deploy

on:
  push:
    branches: [master]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@main
        with:
          lfs: true

      - name: Cache Library
        uses: actions/cache@main
        with:
          path: Library
          key: Library

      - name: Build
        uses: webbertakken/unity-builder@master
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
        with:
          unityVersion: 2019.3.6f1
          targetPlatform: WebGL

      - name: Upload Artifact
        uses: actions/upload-artifact@main
        with:
          name: build
          path: build/WebGL/WebGL

  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    needs: build

    steps:
      - name: Checkout Repo
        uses: actions/checkout@main

      - name: Download Artifact
        uses: actions/download-artifact@main
        with:
          name: build
          path: build

      - name: Deploy to Firebase
        uses: w9jds/firebase-action@master
        with:
          args: deploy
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
